@charset "UTF-8";
.tw-template-wrapper {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tw-lay-left {
  /* 左边布局 */
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 300px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 5px 10px #a5a5a5;
          box-shadow: 1px 5px 10px #a5a5a5;
  border-radius: 8px;
}

.tw-lay-left .tw-tree {
  /* 树结构样式 */
  height: calc(100% - 60px);
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tw-lay-left .tw-tree .node > .babge {
  position: absolute;
  right: 10px;
}

.tw-lay-left .tw-tree .custom-tree-node {
  position: relative;
}

.tw-lay-left > .top-content {
  height: 250px;
}

.tw-lay-left > .top-content .tw-tree {
  /* 树结构样式 */
  height: calc(100% - 60px);
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tw-lay-middle {
  /* 中间布局 */
  position: absolute;
  top: 5px;
  left: 320px;
  width: 20px;
  background-color: #ffffff;
  color: #398fde;
  text-align: center;
  padding: 20px 5px;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #cccccc;
}

.tw-lay-right {
  /* 右边布局 */
  margin-left: 310px;
  height: 100%;
}

/* 输入框样式 */
.el-input {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.el-input > .el-input-group__append {
  background-color: #1594fa;
  color: #ffffff;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 左边部分 中间分隔 样式 */
.tw-split {
  height: 30px;
  background-color: #f2f5fa;
}

.bottom-content {
  height: calc(100% - 280px);
}

/* 一个画面的 按钮样式 */
.tw-btn_special.el-button {
  padding: 9px 20px;
}

.tw-btn_special.el-button .first {
  width: 16px;
  height: 16px;
  border: 2px solid;
}

.tw-btn_special.el-button .second {
  width: 20px;
  height: 20px;
}

.tw-btn_special.el-button .second > div {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 1px solid;
}

.tw-btn-content {
  height: 50px;
}

/* 视频 样式 */
.video-content {
  height: calc(100% - 50px);
}

.tw-video.one {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.tw-video.four {
  /* 四格 */
  position: relative;
  float: left;
  background-color: #000000;
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.tw-video.four:nth-child(2n) {
  margin-right: 0;
}

.tw-video.four:nth-last-child(2),
.tw-video.four:nth-last-child(2) ~ .four {
  margin-bottom: 0;
}

.tw-video.six {
  /* 六格 */
  position: relative;
  float: left;
  background-color: #000000;
  width: calc(33.333333% - 10px * 2 / 3);
  height: calc(50% - 5px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.tw-video.six:nth-child(3n) {
  margin-right: 0;
}

.tw-video.six:nth-last-child(3),
.tw-video.six:nth-last-child(3) ~ .four {
  margin-bottom: 0;
}

.tw-video.sixteen {
  /* 十六格 */
  position: relative;
  float: left;
  background-color: #000000;
  width: calc(25% - 10px * 3 / 4);
  height: calc(25% - 10px * 3 / 4);
  margin-right: 10px;
  margin-bottom: 10px;
}

.tw-video.sixteen:nth-child(4n) {
  margin-right: 0;
}

.tw-video.sixteen:nth-last-child(4),
.tw-video.sixteen:nth-last-child(4) ~ .four {
  margin-bottom: 0;
}

.tw-video-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 26px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}

.video-js {
  width: 100%;
  height: 100%;
}

/* 树结构 */
.custom-tree-node {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.openFlash {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, calc(-50% - 40px));
          transform: translate(-50%, calc(-50% - 40px));
}

.openFlashTips {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.openFlashTips > .text {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, calc(-50% - 40px));
          transform: translate(-50%, calc(-50% - 40px));
  width: 300px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #666666;
}

.select-video-panel {
  position: absolute;
  top: 60px;
  left: 320px;
  z-index: 999999;
  width: calc(100% - 330px);
  height: calc(100% - 70px);
}

.select-video-item.tw-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 120px;
  color: #333333;
}

.select-video-item.tw-video:hover {
  cursor: pointer;
  outline: 2px solid #1594fa;
  -webkit-box-shadow: inset 0 0 24px #1594fa;
          box-shadow: inset 0 0 24px #1594fa;
  background-color: transparent;
  color: #999999;
}

.icon-car-on {
  display: inline-block;
  background-image: url(../../images/video/on.png);
  width: 16px;
  height: 16px;
}

.icon-car-off {
  display: inline-block;
  background-image: url(../../images/video/off.png);
  width: 16px;
  height: 16px;
}

.icon-aisle-on {
  display: inline-block;
  background-image: url(../../images/video/mdton.png);
  width: 16px;
  height: 16px;
}

.icon-aisle-off {
  display: inline-block;
  background-image: url(../../images/video/mdt.png);
  width: 16px;
  height: 16px;
}

.custom-tree-node {
  width: calc(100% - 25px);
}
/*# sourceMappingURL=spzx.css.map */